@import "../../stylesheets/variables.scss";

.home-container {
  .posts {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;

    .post {
      display: block;
      min-width: calc(33% - 40px);
      background-color: $lightGreen;
      margin-bottom: 100px;
      color: white;
      border-radius: 10px;
      padding: 10px;
      max-width: calc(33% - 40px);
      &:nth-child(2n) {
        flex-direction: row-reverse;
      }

      .img {
        flex: 2;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          background-color: $lightGreen;
          position: absolute;
          top: 20px;
          left: -20px;
          z-index: -1;
        }

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 48px;
        }
        &.post-content {
          .link {
            min-height: 250px;
            max-height: 250px;
          }
        }
        .content-description {
          height: 85px;
          overflow-y: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;
          p {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 18px;
          }
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background-color: white;
          color: #63bfb2;
          border-radius: 20px;

          &:hover {
            border: 1px solid white;
            background-color: rgba(236, 73, 76, 0.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    .posts {
      .post {
        width: 100%;
        max-width: 100%;
        .img {
          &::after {
            top: 0px;
            left: 0px;
          }
        }
      }
    }
  }
}
