@import "../../../src/stylesheets/variables.scss";


footer {
    padding: 20px;
    background-color: $lightGreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: calc(100% - 40px);
    img {
      height: 50px;
    }
  }
