$lightGreen: #63bfb2;

.link {
  text-decoration: none;
  color: inherit;
}
input {
  font-size: 16px; /* Set the font size for all input fields */
  max-width: 100%; /* Set the maximum width of input fields to 100% */
  max-height: 100%; /* Set the maximum height of input fields to 100% */
  overflow: hidden; /* Hide any overflow */
  -webkit-text-size-adjust: 100%; /* Disable text resizing on iOS */
  -ms-text-size-adjust: 100%;
}
